.login-form {
    background-image: url(../../../assets/login.jpg);
    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;

    form{
      padding-top: 20px;
      font-size: 16px;
    }
}


@media screen and (max-width: 500px) {
       .login-form {
               background-position-x: -140px;
       }
}
