
mat-cell {
    font-size: 12px;
    text-align: center;
    justify-content: center;

}
.date{
    font-size: 10px;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 7px;
}