mat-cell,
mat-header-cell {
  text-align: center;
  justify-content: center;
}
mat-cell {
    font-size: 15px;
}
.date{
    font-size: 13px;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 7px;
}


