a {
    text-decoration: none;
    color: white;
    &:hover,
    &:active {
        color: lightblue;
    }
}

.nav-item {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.nav-caption{
    // display: inline-block;
    padding-left: 10px;
}